<h1>My Store</h1>
<p><%=link_to "Search All", search_path%></p>
<h4>Search by Categories</h4>
<p><%=link_to "Forged Aluminum Wheels", forged_path%></p>
<p><%=link_to "Forged Aluminum Lightweight Racing Wheels", light_weight_path%></p>
<%= render @products %>

